James Potter (27 March 1960–31 October 1981) - an English pure-blood wizard. He attended Hogwarts School of Witchcraft and Wizardry from 1971 to 1978 and was Sorted into Gryffindor.

When James started at Hogwarts, he met and became best friends with three fellow Gryffindor students: Remus Lupin, Sirius Black, and Peter Pettigrew. He also met Severus Snape, a Slytherin student with whom he became bitter rivals. During his seventh year, James was appointed Head Boy and began dating Lily Evans.

After graduating from Hogwarts, he married Lily and together they had a son, Harry James Potter, of whom he made Sirius Black the godfather. James, Lily, and their friends all fought in the First Wizarding War as members of the Order of the Phoenix; he and his wife defied Lord Voldemort three times. However, James and Lily were forced to go into hiding after a prophecy was made concerning Voldemort and their infant son. James and Lily were ultimately betrayed to Voldemort by one of their close friends (Peter Pettigrew).

As a result of this, James was murdered by Voldemort on Hallowe'en in 1981. He and his wife died while trying to protect infant Harry.